header {
  margin: 0px;
  font-size: 23px;
  color: #f1c32f;
  background-color: #241c24;
}
body {
  margin: 0 auto;
  max-width: 700px;
  min-width: 0;
  padding: 0 10px 25px;
  font-family: "Helvetica", "Arial", sans-serif;
}
h1 {
  font-size: 26px;
}
h2 {
  margin-top: 1em;
  padding-top: 1em;
  font-size: 23px;
}
article {
  font-size: 16px;
}
nav {
  font-size: 18px;
  letter-spacing: 1px;
}
nav a {
  margin-left:20px;
}
