body {
  margin: 0 auto;
  max-width: 700px;
  min-width: 0;
  padding: 0 10px 25px;
  font-family: "Helvetica", "Arial", sans-serif;
}

header {
  margin: 0px;
  font-size: 23px;
  color: #f1c32f;
  background-color: #241c24;
}

nav a {
  margin-left:20px;
}
